---
import Card from "@/components/Card.astro";
import { useTranslations } from "@/i18n";
import RootLayout from "@/layouts/RootLayout.astro";

const t = useTranslations();

const projectsData = [
  {
    title: "My CVE Collection",
    description: `My CVE PoC and reports for several vulnerabilities across widely used software, including heap-buffer-overflows, denial-of-service flaws, and security issues in libraries like libheif, x265, libsndfile, and tinyxml2, impacting popular tools and systems globally.`,
    imgSrc:
      "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdrwN7ggpTxUZR5QEa2_89EXW3N5aeFk9QBQ&s.png",
    href: "https://github.com/4n0nym4u5/OllamaRE",
  },
  {
    title: "OllamaRE | Pwn2Own Helper",
    description: `What if you could automate reverse engineering? OllamaRE simplifies analyzing stripped binaries with AI, resolving functions and generating IDA scripts for faster insights.`,
    imgSrc:
      "https://ollama.com/public/blog/embedding-models.png",
    href: "https://github.com/4n0nym4u5/OllamaRE",
  },
  {
    title: "Rootkit | Exploits made simple",
    description: `Rootkit empowers binary exploitation with a custom Python framework, combining analysis tools, automated ROP chain building, and reusable exploits to solve challenges efficiently.`,
    imgSrc: "https://imgur.com/YD5Qktl.png",
    href: "/blog/sorry",
  },
  {
    title: "PwnableTW Writeups",
    description: `A collection of exploit solutions for Pwnable.tw challenges, showcasing advanced binary exploitation techniques and ranking among the top globally and nationally.`,
    imgSrc: "https://pbs.twimg.com/profile_images/1146081160281255936/LCMioJ1e_400x400.png",
    href: "https://github.com/4n0nym4u5/pwnabletw",
  },
  {
    title: "Lan System Controller",
    description: `A one-click automation tool designed to streamline IT support tasks and conserve energy in corporate networks, featuring remote troubleshooting, file sharing, software management, and more.`,
    imgSrc: "https://imgur.com/qbDAgLK.png",
    href: "https://github.com/4n0nym4u5/Lan-System-Controller",
  },
  
  
];
---

<RootLayout
  title={t("pages.projects.title")}
  description={t("pages.projects.description")}
>
  <div class="divide-y divide-gray-200 dark:divide-gray-700">
    <div class="space-y-2 pb-8 pt-6 md:space-y-5">
      <h1
        class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
      >
        {t("pages.projects.allProjects")}
      </h1>
      <p class="text-lg leading-7 text-gray-500 dark:text-gray-400">
        {t("pages.projects.showcase")}
      </p>
    </div>
    <div class="container py-12">
      <div class="-m-4 flex flex-wrap">
        {
          projectsData.map((d) => (
            <Card
              title={d.title}
              description={d.description}
              imgSrc={d.imgSrc}
              href={d.href}
            />
          ))
        }
      </div>
    </div>
  </div>
</RootLayout>
